extends base
block content 

    main.main 
        .card-container 
         each tour in tours 
            .card 
                .card-header 
                    .card-picture 
                        img.card-picture-img(src=`/img/${tour.imageCover}` alt=`${tour.name}`)
                    h3.heading-tertirary      
                        span=tour.name 
                .card-details 
                    h4.card-sub-heading=`${tour.difficulty} ${tour.duration}-day tour` 
                    p.card-text=tour.summary 
                    .card-data 
                        i.fa-solid.fa-location-dot.card-icon(style='color:#55c57a')
                        span=tour.startLocation.description
                    .card-data 
                        i.fa-regular.fa-calendar.card-icon(style='color:#55c57a')
                        span=tour.startDates[0].toLocaleString('en-us',{month:'long',year:'numeric'})
                    .card-data 
                        i.fa-regular.fa-flag.card-icon(style='color:#55c57a')
                        span=`${tour.locations.length} Stops`
                    .card-data 
                        i.fa-regular.fa-user.card-icon(style='color:#55c57a')
                        span=`${tour.maxGroupSize} People`
                .card-footer 
                    p 
                        span.card-footer-value=`$${tour.price}`
                        | 
                        span.card-footer-text per person
                    p.card-ratings 
                        span.card-footer-value=tour.ratingsAverage
                        | 
                        span.card-footer-text=`rating(${tour.ratingsQuantity})`
                    a.btn.btn-green.btn--small(href=`/tour/${tour.slug}`) Details    











